<header>
  <img src="\prova-sito\files\menu\Icaro.svg" class="Logo" alt="Logo">
  <h1 class="h1-responsive">ICARO</h1>
  <nav>
    <div class="Linea">
    </div><br>
    <div class="Primo-livello">
      <a class="anchor" href="\prova-sito\index.html">esplora</a><!--
      --><div class="Secondo-livello"><!--
      --><a class="anchor" href="#"> argomenti</a><!--
        --><div class="Terzo-livello"><!--
          --><div class="Quarto-livello"><!--
          --><a class="anchor" href="#">matematica</a><!--
            --><div class="Quinto-livello"><!--
            --><a class="anchor"
href="\prova-sito\files\articles+images\matematica\spiegazioni\Numeri-irrazionali.html">I
numeri irrazionali</a><!--
            --><a class="anchor"
href="\prova-sito\files\articles+images\matematica\dimostrazioni\irrazionalità-radice-2.html">Dimostrazione
dell'irrazionalità di \(\sqrt{2}\)</a><!--
--><a class="anchor" href="#">Intrattenimento</a><!--
          --><div class="Quinto-livello-b"><!--
           --><a class="anchor"
href="\prova-sito\files\articles+images\intrattenimento\undertale\undertale.html">Undertale</a><!--
             --></div><!--
          --></div><!--
          --><a class="anchor" href="#">sottomenu2</a><br><!--
          --><a class="anchor" href="#">sottomenu3</a><br><!--
          --><a class="anchor" href="#">sottomenu4</a><br><!--
          --><a class="anchor" href="#">sottomenu5</a><!--
        --></div><!--
      --></div><!--
      --><a class="anchor" href="#">giornalino</a><!--
      --><a class="anchor"
href="\prova-sito\files\articles+images\team\chi-siamo\chi-siamo.html">chi
siamo</a>
    </div>
  </nav>
</header>

<div id="menu" class="menu-responsive">
  <div class="comandi">
    <img src="\prova-sito\files\menu\disegno freccia indietro non attiva.svg"
alt="Torna indietro" class="undo">
    <a class="anchor" href="#heading"><img
src="\prova-sito\files\menu\home.png" alt="Home" class="home"></a>
  </div>
  <div class="items">
    <span>
      <a class="anchor" href="\prova-sito\index.html"><h3
class="h3-menu">esplora</h3></a>
      <a class="anchor" href="#menu1"><h3 class="h3-menu">argomenti</h3></a>
      <a class="anchor" href="#"><h3 class="h3-menu">giornalino</h3></a>
      <a class="anchor"
href="\prova-sito\files\articles+images\team\chi-siamo\chi-siamo.html"><h3
class="h3-menu">chi siamo</h3></a>
    </span>
  </div>
</div>

<div id="menu1" class="menu-responsive">
  <div class="comandi">
    <a class="anchor" href="#menu"><img src="\prova-sito\files\menu\disegno
freccia indietro.svg" alt="Torna indietro" class="undo"></a>
    <a class="anchor" href="#heading"><img
src="\prova-sito\files\menu\home.png" alt="Home" class="home"></a>
  </div>
  <div class="items">
    <span>
      <a class="anchor" href="#menu2-matematica"><h3
class="h3-menu">matematica</h3></a>
      <a class="anchor" href="#menu2-intrattenimento"><h3
class="h3-menu">intrattenimento</h3></a>
      <a class="anchor" href="#"><h3 class="h3-menu">sottomenu3</h3></a>
      <a class="anchor" href="#"><h3 class="h3-menu">sottomenu4</h3></a>
      <a class="anchor" href="#"><h3 class="h3-menu">sottomenu5</h3></a>
      <a class="anchor" href="#"><h3 class="h3-menu">sottomenu6</h3></a>
    </span>
  </div>
</div>

<div id="menu2-matematica" class="menu-responsive">
  <div class="comandi">
    <a class="anchor" href="#menu1"><img src="\prova-sito\files\menu\disegno
freccia indietro.svg" alt="Torna indietro" class="undo"></a>
    <a class="anchor" href="#heading"><img
src="\prova-sito\files\menu\home.png" alt="Home" class="home"></a>
  </div>
  <div class="items">
    <span>
      <a class="anchor"
href="\prova-sito\files\articles+images\matematica\spiegazioni\Numeri-irrazionali.html"><h3
class="h3-menu">I numeri irrazionali</h3></a>
      <a class="anchor"
href="\prova-sito\files\articles+images\matematica\dimostrazioni\irrazionalità-radice-2.html"><h3
class="h3-menu">Dimostrazione dell'irrazionalità di \(\sqrt{2}\)</h3></a>
    </span>
  </div>
</div>

<div id="menu2-intrattenimento" class="menu-responsive">
  <div class="comandi">
    <a class="anchor" href="#menu1"><img src="\prova-sito\files\menu\disegno
freccia indietro.svg" alt="Torna indietro" class="undo"></a>
    <a class="anchor" href="#heading"><img
src="\prova-sito\files\menu\home.png" alt="Home" class="home"></a>
  </div>
  <div class="items">
    <span>
      <a class="anchor"
href="\prova-sito\files\articles+images\intrattenimento\undertale\undertale.html"><h3
class="h3-menu">Undertale</h3></a>
    </span>
  </div>
</div>

<div id="heading"class="menu-responsive">
  <h1 class="h1-responsive">ICARO</h1>
  <img src="\prova-sito\files\menu\Icaro.svg" class="logo" alt="Logo">
  <div class="linea"></div>
  <a class="anchor" href="#menu"><img src="\prova-sito\files\menu\pallini3.svg"
alt="menu" class="pallini"></a>
</div>
