<header>
  <img src="\files\menu\Icaro.svg" class="Logo" alt="Logo">
  <h1>ICARO</h1>
  <nav>
    <div class="Linea">
    </div><br>
    <div class="Primo-livello">
      <a href="#">esplora</a><!--
      --><div class="Secondo-livello"><!--
      --><a href="#"> argomenti</a><!--
        --><div class="Terzo-livello"><!--
          --><div class="Quarto-livello"><!--
            --><a href="#">sottomenu1</a><!--
            --><div class="Quinto-livello"><!--
              --><a href="#">sottosottomenu1</a><!--
              --><a href="#">sottosottomenu2</a><!--
              --><a href="#">sottosottomenu3</a><!--
              --><a href="#">sottosottomenu4</a><!--
            --></div><!--
          --></div><!--
          --><a href="#">sottomenu2</a><br><!--
          --><a href="#">sottomenu3</a><br><!--
          --><a href="#">sottomenu4</a><br><!--
          --><a href="#">sottomenu5</a><!--
        --></div><!--
      --></div><!--
      --><a href="#">giornalino</a><!--
      --><a href="#">chi siamo</a>
    </div>
  </nav>
</header>

<div id="menu" class="menu-responsive">
  <div class="comandi">
    <img src="\files\menu\disegno freccia indietro non attiva.svg" alt="Torna indietro" class="undo">
    <a href="#heading"><img src="\files\menu\home.png" alt="Home" class="home"></a>
  </div>
  <div class="items">
    <span>
      <a href="#"><h3 class="h3-menu">esplora</h3></a>
      <a href="#menu1"><h3 class="h3-menu">argomenti</h3></a>
      <a href="#"><h3 class="h3-menu">giornalino</h3></a>
      <a href="#"><h3 class="h3-menu">chi siamo</h3></a>
    </span>
  </div>
</div>

<div id="menu1" class="menu-responsive">
  <div class="comandi">
    <a href="#menu"><img src="\files\menu\disegno freccia indietro.svg" alt="Torna indietro" class="undo"></a>
    <a href="#heading"><img src="\files\menu\home.png" alt="Home" class="home"></a>
  </div>
  <div class="items">
    <span>
      <a href="#"><h3 class="h3-menu">sottomenu1</h3></a>
      <a href="#"><h3 class="h3-menu">sottomenu2</h3></a>
      <a href="#"><h3 class="h3-menu">sottomenu3</h3></a>
      <a href="#"><h3 class="h3-menu">sottomenu4</h3></a>
      <a href="#"><h3 class="h3-menu">sottomenu5</h3></a>
      <a href="#"><h3 class="h3-menu">sottomenu6</h3></a>
    </span>
  </div>
</div>

<div id="heading"class="menu-responsive">
  <h1>ICARO</h1>
  <img src="\files\menu\Icaro.svg" class="logo" alt="Logo">
  <div class="linea"></div>
  <a href="#menu"><img src="\files\menu\pallini3.svg" alt="menu" class="pallini"></a>
</div>
