      @media (min-width:601px){
	      body>.menu-responsive{
          display:none;
        }
        .anchor{
          text-decoration: none;
          margin:20px;
          color:black;
          font-family: 'EB Garamond','Cormorant Garamond',serif;
        }
        .Quinto-livello>a{
          display:inline-block;
          margin:0 0 0 7.5%;
        }
          div {
            width:100%;
          }
          .h1-responsive{
            color:#750505;
            text-align:center;
            font-size:7vw;
            margin-top:0px;
            margin-bottom:0px;
            display:inline-block;
	          font-weight:normal;
            font-family: 'Playfair Display','Cormorant Garamond',serif;
          }
          .Primo-livello>a, .Secondo-livello>a{
            padding-left:1.2vw;
            padding-right:1.2vw;
            padding-top:0.5vw;
            padding-bottom:0.5vw;
            border:1px solid black;
            margin:0;
            width:10%;
            text-decoration: none;
            font-family: 'EB Garamond','Cormorant Garamond',serif;
            text-align:center;
            display:inline-block;
          }
          .Terzo-livello{
            display: none;
            position: absolute;
            border:1px solid black;
            width:50%;
            transform:translateY(1vw);
          }
          .Quarto-livello{
            display: none;
            width:26%;
          }
          .Quinto-livello{
            display: none;
          }
          .Secondo-livello:hover .Terzo-livello, .Quarto-livello{
            display:block;
            right:25vw;
            font-size:1vw;
            line-height:200%;
	          background-color:white;
          }
          .Quarto-livello:hover .Quinto-livello{
            display:inline;
            position: absolute;
            right:0px;
            width:76%;
          }
          .Primo-livello{
            display:inline-block;
            font-size:1.5vw;
            width:100%;
            text-align:center;
            margin:0px;
            padding:0px;
          }
          .Secondo-livello{
            display:inline;
            padding-bottom:2vw;
            text-align:left;
          }
          .Linea{
            border-top:2px solid black;
            width:50%;
            margin:auto;
          }
          html,body{
            margin:0px;
            text-align:center;
            font-family: 'Playfair Display','Cormorant Garamond',serif;
          }
          .Logo{
            width:13%;
            float: left;
            left:30%;
            position: relative;
          }
      }
      @media (max-width:600px) {
        header{
          display:none;
        }
        div{
          display:none;
        }
        body>div:target{
          display:block;
          height:100%;
        }
	.feeds,#article{
	    display:inline-block;
	    margin-top:35%;
	}
        #heading{
          display:inline-block;
          height:auto;
	  position:fixed;
	  background-color:white;
	  margin: 0;
 	  top: 0;
 	  left: 0;
    z-index:1;
        }
	body>div:target ~ #article{
	    display:none;
	}
	body>#heading:target ~ #article{
	    display:inline-block;
	    margin-top:35%;
	}
	body>div:target ~ .feeds{
	    display:none;
	}
	body>#heading:target ~ .feeds{
	    display:inline-block;
	    margin-top:35%;
	}
	body>#article:target ~ #article{
	    display:inline-block;
	    margin-top:35%;
	}
	body>.feeds:target ~ .feeds{
	    display:inline-block;
	    margin-top:35%;
	}
	body>div:target ~ #heading{
	    display:none;
	}
        html,body{
          margin:0;
          font-family: 'Playfair Display','Cormorant Garamond',serif;
          text-align:center;
          height:100%;
        }
        .h1-responsive{
          color:#750505;
          font-size:19vw;
          margin-top:0;
          margin-bottom:0;
          float:left;
          margin-left:7%;
          font-weight:normal;
          font-family: 'Playfair Display','Cormorant Garamond',serif;
        }
        .logo{
          width:25%;
          display:inline-block;
          float:left;
          transform:translateY(30%);
          margin-left:2%;

        }
        .anchor{
          text-decoration: none;
          color:black;
          margin:0;
          }
        .linea{
          margin-left:7%;
          border-top:2px solid black;
          width:76%;
          float: left;
          display:inline-block;
        }
        .pallini{
          margin-left:2%;
          width:8%;
          display:inline-block;
          float: left;
          transform:translateY(-35%);
        }
        .comandi{
          display:block;
          width:100%;
          height:10%;
        }
        .undo{
          float:left;
          height:100%;
          margin-left:5%;
        }
        .home{
          float:right;
          height:100%;
          margin-right:5%;
        }
        .items{
          display:table;
          width:100%;
          height:90%;
        }
        .items>span{
          display:table-cell;
          vertical-align:middle;
        }
        .h3-menu{
          text-decoration: none;
          color:black;
          font-size:7vw;
          padding-bottom:4vh;
          display:block;
          font-weight:normal;
          margin:0;
        }
        .menu,.menu1,.menu2-matematica{
          height:100%;
        }
      }
